html{
    font-size: 14px;
}
p{
	margin: 0;
}
$content-width: 1140px;

.container-fluid{
	padding: 0;
}

.row-fluid:after{
	content: "";
	display: block;
	clear: both;
}

.affix{
	width: 100%;
	top: 0;
	z-index: 25;
}

#header{
	background: url("../img/head.jpg") center center no-repeat;
	height: 600px;
	width: 100%;
	text-align: center;

	i.fa-star-o{
		font-size: 77px;
		margin: 0 auto;
		margin-top: 185px;
		margin-bottom: 65px;
		color: white;
	}

	.greeting{
		display: block;
		font: 70px lobster, Arial, sans-serif;
		color: #fff;
		text-transform: capitalize;  
	}
}

.navbar {
	background-image: none;
	margin: 0;
	> .container-fluid{
		max-width: $content-width;
		margin: 0 auto;
		.nav.navbar-nav{
				li a{
				    line-height: 48px;
				    color: white;
				}
			    li.active a, a:hover{
			    	background-image: none;
			    	background-color: #eb2c33;
			    }
		    }
		}
	}

.section {
	margin: 0;
	.content{
		height: 100%;
		max-width: $content-width;
		margin: 0 auto;
		padding-top: 100px;
		text-align: center;
		.main-section-item{
			margin-bottom: 75px;
			.section-title{
				font: 30px lobster, Arial, sans-serif;
				margin-bottom: 33px;
			}
			.section-descr{
				font-size: 20px;
				color: #717171;
			}
		}
		.section-item{
			.section-icon{
				font-size: 25px;
			}
			.section-title{
				font-size: 23px;
				margin-bottom: 15px;
				font-weight: bold;
			}
			.section-descr{
				color: #717171;
			}
		}
	}
}

#features{
	padding-bottom: 120px;
	.section-item{
		margin-top: 20px;
	}
}
#services{
	position: relative;
	min-height: 735px;
	background: url("../img/picture.jpg") center center no-repeat;
	&:before{
	    content: "";
	    position: absolute;
	    display: block;
	    height: 100%;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 0.5);
	}
	.main-section-item{
		margin-bottom: 75px;
		color: white;
		.section-title{
			font: 30px lobster, Arial, sans-serif;
			margin-bottom: 33px;
		}
		.section-descr{
			font-size: 20px;
			color: white;
		}
	}
	.section-item{
	    padding: 0px 15px 40px 15px;
	    .item-cell{
	    	position: relative;
	    	&:before{
	    		content: "";
	    		display: block;
			    position: absolute;
			    top: 30px;
			    left: 30px;
			    width: 66px;
			    height: 105px;
			    background: url("../img/lamp.jpg") center center no-repeat;
	    	}
			background-color: white;
		    border-radius: 5px;
		    padding: 40px 55px 50px 120px;
		    text-align: left;
	    }
	}
}
#pricing{
	margin-bottom: 150px;
	.section-title{
		margin: 0;
	}
	.section-item{
	    padding: 0px 15px 0px 15px;
	    .item-cell{
			background-color: #f5f5f5;
		    padding: 45px 0px 40px;
		    text-align: center;
		    border-top: 7px solid #343434;
		    .section-title{
		    	margin-bottom: 40px;
		    }
		    .price{
		    	margin-bottom: 40px;
		    	line-height: 43px;
		    	span{
		    		font-size: 43px;
		    		font-weight: bold;
			    }
		    }
		    p{
		    	margin-bottom: 15px;
		    }
		    .btn{
		    	margin-top: 40px;
		    	color: white;
		    	background-color: #333;
		    	&:hover{
			    	background-color: #666;		    		
		    	}
		    }
	    }
	}	
}
#slider{
	.carousel-caption{
		position: absolute;
		top: 40%;
	}
	.carousel-indicators .active{
		background-color: #e22f2a;
	}
}
#about{
	.section-title{
		margin: 0;
	}
	.progress-bar{
		background-image: none;
	}
	.progress-bar-info{
		background-color: #2d7da4;
	}
	.progress-bar-success{
		background-color: #6aa42f;
	}
	.progress-bar-warning{
		background-color: #ffcc33;
	}
	.progress-bar-danger{
		background-color: #db3615;
	}
	h5{
		text-align: left;
		font-size: 24px;
		font-weight: bold;
	}
	.panel-heading{
		text-align: left;
		cursor: pointer;
		position: relative;
		.panel-title{
			font-size: 17px;
			font-weight: bold;
		}
		&:after{
    		content: "\e080";
    		font-family: 'Glyphicons Halflings';
    		display: block;
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    font-size: 13px;
    	}
	}
	.panel-body{
		img{
			width: 76px;
			float: left;
			border-radius: 50%;
    		box-shadow: 0px 0 3px 0px gray;
		}
		.collapse-content{
			margin-left: 85px;
			text-align: left;
			.collapse-title{
				font-size: 19px;
				font-weight: bold;
			}
		}
	}
}
#links{
	background-color: #f5f5f5;
	.links-content{
		text-align: left;
		.col-title{
			font-size: 27px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 25px;
		}
		p{
			font-size: 20px;
			color: #808387;
			margin-bottom: 20px;
			text-shadow: 0px 0px 1px #E6E3E3;
		}
	}
}
#buyModal{
	.modal-dialog{
	    width: 355px;
	    height: 322px;
		margin-top: 180px;
	}
}